<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
</head>
<body>

<h2>Регистрация</h2>

<div th:if="${error}" style="color: red; font-weight: bold;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/register}" th:object="${registerRequest}" method="post">
    <label>Име:</label>
    <input type="text" th:field="*{email}" required><br><br>

    <label>Парола:</label>
    <input type="password" th:field="*{password}" required><br><br>

    <button type="submit">Регистрирай се</button>
</form>

<p>Вече имаш акаунт? <a th:href="@{/login}">Влез тук</a></p>

</body>
</html>
